body {
    font:55px "Century Gothic", Futura, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    color: white;
    
  }
  .board{

  }
  .background{
   width: 100vw;
    background : url(./img/back.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
  
  }
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
    margin-top: 20%;
  }
  
  .square {
    background: transparent;
    border: 1px solid #999;
    float: left;
    font-size: 45px;
    color: white;
    font-weight: bold;
    line-height: 180px;
    height: 180px;
    width: 180px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
   
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: column-reverse;
  }
  
  .game-info {
    margin-left: 20px;
  }
  